<!--这里是UI正文的HTML定义-->
.content
  #left
    //- 左边栏
    //- 发现一个bug，当echarts挂载到当前目录时，会清空当前dom的内容，目前不影响全局，暂不修改。
    #content-left-top(ref="contentLeftTop")
      //- 左边栏上部发光点
      //- .border-flash-top
      //- 左边栏左部发光点
      //- .border-flash-left
    #content-left-middle(ref="contentLeftMiddle")
      //- .border-flash-top
      //- .border-flash-left
    #content-left-bottom(ref="contentLeftBottom")
      //- .border-flash-top
      //- .border-flash-left
  #right
    //- 右边栏
    #content-right-top(ref="contentRightTop")
      //- .border-flash-top
      //- .border-flash-left
    #content-right-middle(ref="contentRightMiddle")
      //- .border-flash-top
      //- .border-flash-left
    #content-right-bottom(ref="contentRightBottom")
      //- .border-flash-top
      //- .border-flash-left
  #top(ref="contentTop")
    //- 顶部栏
    .left-arrow(@click="leftArrowClick")
    .middle-content(ref="contentMiddle")
      .btn
        | 资源概况
      .btn
        | 告警联判
      .btn
        | 故障诊断
      .btn
        | 检修风险
      .btn
        | 通信隐患
    .right-arrow(@click="rightArrowClick")
    //- #top0
    //-   .top-left
    //-   .top-right
    //-     .top-right-top
    //-       | 2000
    //-       span
    //-         | 座
    //-     .top-right-bottom
    //-       | 特高压变电站
    //- #top1
    //-   .top-left
    //-   .top-right
    //-     .top-right-top
    //-       | 4500
    //-       span
    //-         | 个
    //-     .top-right-bottom
    //-       | 特高压杆塔
    //- #top2
    //-   .top-left
    //-   .top-right
    //-     .top-right-top
    //-       | 45000
    //-       span
    //-         | 千米
    //-     .top-right-bottom
    //-       | 光缆段总长
    //- #top3
    //-   .top-left
    //-   .top-right
    //-     .top-right-top
    //-       | 45000
    //-       span
    //-         | 千米
    //-     .top-right-bottom
    //-       | 一次线路总长
  #bottom
    //- 底部栏
    #siteBar(@click="toggleSite")
      .leftBottom
        svg-icon#aIcon(name='u233' width='35px' height='33px')
      .rightBottom
        | 特高压变电站
    #lineBar(@click="toggleCable")
      .leftBottom
      .rightBottom
        | 光缆网
  #toolbar
    //- 工具栏: 全屏, 放大, 缩小
    #full-screen(@click="handleFullScreen")
    #zoom-in(@click="zoomIn")
    #zoom-out(@click="zoomOut")