<!-- 这里是UI的头部HTML定义 -->
mixin svgs(name, width, height)
  svg-icon#aIcon(name=name width=width height=height)
#header
  .left
  .right
    .container
      svgs('u241', '25px', '25px')
      #bContainer
        #bText
          | {{ nickname }}
        svgs('u242', '40px', '40px')
      svgs('u243', '25px', '21px')
      svgs('u244', '20px', '22px')
      svgs('u245', '25px', '25px')