$header-height: 35px;
$tab-height: 40px;
$gap-height: 20px;
$nav-height: 300px;
$side-width: 260px;
$opacity: 0.9;
.layout {
  top: 0;
  left: 0;
  & > div {
    opacity: $opacity;
    position: absolute;
  }
  .left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 80px;
    height: 50px;
    background-image: url('@assets/image/menu_u240.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    opacity: 1;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
    &:hover {
      transform: rotate(45deg);
      transition: transform 0.5s linear;
    }
  }
  .right {
    position: absolute;
    // right: calc(100% - 160px - 80px);
    top: 0;
    z-index: 3;
    width: 160px;
    height: 40px;
    // position: relative;
    left: calc($width - 160px - 80px);
    // right: 80px;
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > * {
        cursor: pointer;
      }
      #aIcon {
        // width: 20px;
        transform: scale(0.7);
        &:hover {
          transform: scale(0.8);
        }
      }
      #bContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: scale(1.1);
        }
        #bIcon {
          // width: 40px;
          transform: scale(0.7);
        }
        #bText {
          position: absolute;
          z-index: 2;
          color: white;
          font-size: 12px;
          transform: scale(0.8);
          user-select: none;
        }
      }
      #cIcon {
        // width: 25px;
        transform: scale(0.7);
        &:hover {
          transform: scale(0.8);
        }
      }
      #dIcon {
        // width: 20px;
        transform: scale(0.7);
        &:hover {
          transform: scale(0.8);
        }
      }
      #eIcon {
        // width: 25px;
        transform: scale(0.7);
        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }
  .header {
    z-index: 1;
    width: $width;
    height: $header-height;
    background-image: url('@assets/image/u250.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 1px solid #29597b;
  }
  .navigate {
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    height: $nav-height;
    z-index: 2;
    .header {
      width: 100%;
      height: 40px;
      background: linear-gradient(180deg, rgba(81, 102, 135, 1) 1%, rgba(50, 75, 118, 1) 98%);
      display: flex;
      align-items: center;
      justify-content: center;
      .input {
        width: 300px;
        margin-right: 20px;
      }
      .button {
        width: 80px;
      }
    }
    .content {
      width: 100%;
      height: 300px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .el-tabs {
    position: absolute;
    top: $header-height;
    z-index: 1;
    width: $width;
    height: $tab-height;
    background: linear-gradient(180deg, rgba(41, 93, 129, 1) 0%, rgba(40, 92, 128, 1) 100%);
    & > :deep(.el-tabs__header) {
      border-bottom: 0px;
      margin: 10px 0 0 0;
      .el-tabs__nav {
        border: 0px;
        .el-tabs__item {
          padding: 0 10px 0 20px;
          border: 1px solid white;
          border-bottom: 0px;
          border-radius: 4px 4px 0 0;
          margin-left: 10px;
          height: 26px;
          line-height: 26px;
          color: white;
          font-size: 13px;
          font-family: 'Arial Normal', 'Arial', sans-serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          .el-icon {
            &:hover {
              background-color: transparent;
            }
          }
          &::before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 7px;
            top: 8px;
            left: 6px;
            background-color: white;
          }
        }
        .is-active {
          border: 1px solid yellow;
          border-top: 5px solid yellow;
          height: 30px;
          border-bottom: 0px;
          // &::before {
          //   background-color: yellow;
          // }
        }
        .is-icon-close {
          width: 14px;
        }
      }
    }
  }
}
