@import '../App.scss';
$compass-width: 60px;
$compass-height: 60px;
.layout {
  & > div {
    position: absolute;
    top: $header-height + $tab-height;
  }
  // 左上信息栏
  & > .info {
    left: 10px;
    color: #285c80;
    top: $header-height + $tab-height + 5px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    & > .top {
      display: flex;
      align-items: flex-end;
      & > div {
        display: flex;
        align-items: flex-end;
        font-size: xx-small;
      }
      & > :first-child {
        & > div {
          width: 20px;
          height: 20px;
          background-image: url('@assets/image/u234.png');
          background-repeat: no-repeat;
          background-size: 70%;
          background-position: center;
        }
      }
      & > :nth-child(2) {
        margin-left: 5px;
        & > div {
          width: 20px;
          height: 20px;
          background-image: url('@assets/image/u235.png');
          background-repeat: no-repeat;
          background-size: 180%;
          background-position: center;
        }
      }
      & > :nth-child(3) {
        transform: scale(0.8);
      }
    }
    & > .middle {
      display: flex;
      align-items: flex-end;
      text-decoration: underline;
      & > :first-child {
        font-size: large;
      }
      & > :nth-child(2) {
        font-size: small;
      }
    }
    .bottom {
      font-size: xx-small;
    }
  }
  // 左边信息栏
  & > .l-info {
    left: 10px;
    top: $header-height + $tab-height + 75px;
    width: 100px;
    height: 300px;
    background-image: url('@assets/image/u810.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & > :nth-child(2n) {
      border-bottom: 1px white dashed;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & > .l-info-image-0 {
        background-image: url('@assets/image/u844.png');
        width: 30px;
        height: 20px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      & > .l-info-image-1 {
        background-image: url('@assets/image/u837.png');
        width: 30px;
        height: 20px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      & > .l-info-image-2 {
        background-image: url('@assets/image/u838.png');
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      & > .l-info-image-3 {
        background-image: url('@assets/image/u839.png');
        width: 30px;
        height: 20px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      & > .l-info-name {
        width: 40px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & > .l-info-name-title {
          font-size: xx-small;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          & > .l-info-name-title-number {
            font-size: large;
            text-decoration: underline;
          }
        }
        & > .l-info-name-subtitle {
          font-size: xx-small;
        }
      }
    }
    & > :nth-child(2n + 1):hover {
      cursor: pointer;
      background-color: yellowgreen;
      // opacity: 0.2;
      border: 3px solid yellow;
      border-radius: 5px;
    }
  }
  // 右边折叠栏
  & > .r-fold {
    right: 10px;
    top: $header-height + $tab-height + 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & > div {
      width: 100px;
      height: 25px;
      background: inherit;
      background-color: rgba(102, 150, 185, 1);
      border: none;
      border-radius: 5px;
    }
    & > .base-info {
    }
    & > .manager-info {
    }
    & > .business-info {
    }
  }
  // 指南针
  & > .compass {
    left: calc($width - $compass-width - 10px);
    top: calc($height - $header-height - $gap-height - $compass-height / 2);
    width: $compass-width;
    height: $compass-height;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      background-image: url('@assets/image/指南针背景.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      transform: rotate(0deg);
      transition: transform 0.5s;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.8;
      background-image: url('@assets/image/指南针.png');
      background-repeat: no-repeat;
      background-size: 30% 30%;
      background-position: center;
      transform: rotate($deg);
    }
  }
}
